@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');


body{
    background-color: rgb(231, 227, 210);
    color: rgb(63, 63, 63);
  
  }
#Hollywood{
    display: none;
    }
    

    p{
        width: 50%;
      }
      .Poster{
        border-radius: 10px;
      }
        div{
      
          font-family: "Reddit Mono", monospace;
          font-optical-sizing: auto;
          font-weight: 300;
          font-style: normal;
      
      
        }
        
        .link{
          position: relative;
       float: left;
        }
      h1{
          font-size: 60px;
          font-family: "Fira Sans", sans-serif;
          font-weight: 700;
          font-style: normal;
      }
      .Poster{
      position: relative;
      left: 800px;
      bottom: 600px;
      width: 400px;
      height: auto;
      
      
      }
      .intro{
      
        height: 700px;
        width: 100%;
      
      }

     .song{
        width: 560px;
        height: 315px;
        border: 0;
      }
      

      .parent {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 1 / 4 / 2 / 5; }
        .div5 { grid-area: 2 / 1 / 3 / 2; }
        .div6 { grid-area: 2 / 2 / 3 / 3; }
        .div7 { grid-area: 2 / 3 / 3 / 4; }
        .div8 { grid-area: 2 / 4 / 3 / 5; }
        .div9 { grid-area: 3 / 1 / 4 / 2; }
        .div10 { grid-area: 3 / 2 / 4 / 3; }
        .div11 { grid-area: 3 / 3 / 4 / 4; }
        .div12 { grid-area: 3 / 4 / 4 / 5; }
.logo1{
    width: 230px;
    height: 250px;
    transition: height 1s ease 0s;
    background-color: rgba(240, 248, 255, 0);
}
        .div{
            width: 150px;
            height: 200px;
           
        }

        .logo{
            width: 150px;
            height: 250px;
            transition: height 1s ease 0s;
        }

        .logo1:hover{
          transform: scale(1.2)
        }
        .logo:hover{
          transform: scale(1.2)
        }

        .logo3{
          width: 300px;
          margin-left: -60px;
        }

        .logo4{
          width: 250px;
          margin-left: -20px;
        }

        .logo5{
          margin-top: 30px;
        }

        .back-home{
          float: right;
 margin-right: 60px;
 font-size: 20px;
margin-top: -100px;
background-color: #aa0404;
border-radius: 20px;
padding: 10px;
padding-left:20px;
padding-right:20px;
color: aliceblue;
text-decoration: none;
   font-family: "Fira Sans", sans-serif;
          font-weight: 700;
          font-style: normal;
        }